/* @font-face {
    font-family: cantarell;
    src: local();
} */

*
{
    box-sizing: border-box;
    margin: 0;
}


body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    position: relative;
}


.navigator
{   
    width: 100%;
    height: 90px;
    background-color: #9e89ce;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.right-navigator
{   
    position: absolute;
    height: inherit;
    display: flex;
    align-items: center;
    gap: 15px;
    right: 75px;
}

.right-navigator > a
{   
    position: relative;
    text-decoration: none;
    /* color: white; */
    /* color: #FFCA28; */
    /* color: #60A5FA; */
    /* color: #0891B2; */
    /* color: #06B6D4; */
    color: #EEEEEE;
    
}

/* .right-navigator > a:visited
{   
    color: #0891B2;
} */

.right-navigator > a::after
{
    position: absolute;
    content: "";
    background-color: #EBF4F6;
    width: 0;
    margin-top: 2px;
    height: 2px;
}

.right-navigator > a:hover
{   
    padding-top: 6px;
    transition: 250ms;
}

.right-navigator > a:hover::after
{   
    width: 100%;
    transition: 0.4s;
    transition-delay: 100ms;
}

.left-navigator
{   
    position: absolute;
    left: 75px;
    display: flex;
    height: inherit;
    align-items: center;
    gap: 20px;
}

.left-navigator > button
{   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F5F5F5;  
    border: none;
    border-radius: 18px;
    height: 36px;
    width: 95px;
}

.left-navigator > button:hover
{
    background-color: #BE123C;
    color: #81D4FA;
    transition: 500ms;
    transition-delay: 100ms;
    padding: 2px;
    font-size: 15px;
}

.left-navigator > input
{
    /* background-color: #BE123C; */
    outline: none;
    color: #0D47A1;
    transition: 500ms;
    transition-delay: 100ms;
    height: 36px;
    width: 200px;
    border-radius: 18px;
    padding-left: 6px;
}

.container
{
    width: 90%;
    margin: auto;
}

.products
{   
    margin-top: 155px;
    text-align: center;
    color: #37B7C3;
}

.wraper
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    flex-wrap: wrap;
    gap: 40px;
}

.flip-cards
{
    background-color: transparent;
    width: 375px;
    height: 325px;
    border: 1px solid #F5F5F5;
    perspective: 1000px; 
    border-radius: 4px;
}
 
.flip-card-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transition-delay: 100ms;
    transform-style: preserve-3d;
}
  
  
.flip-cards:hover .flip-card-inner
{
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back 
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 4px;
}
  

.flip-card-front 
{
    background-color: #FAFAFA;
    box-shadow: 3px 3px 4px 2px #EEEEEE;
}

.flip-card-front > img
{   
    width: 85%;
    height: 100%;
}
  
.flip-card-back
{
    /* background-color: #088395; */
    background-color: #512DA8;
    color: white;
    transform: rotateY(180deg);
    width: 100%;
}

.flip-card-back > img
{
    width: 35%;
    height: 40%;
    padding-top: 10px;
}

.flip-card-back > h3
{
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
}

.flip-card-back > h5
{   
    position: relative;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
}

.flip-cards-info
{
    padding-top: 10px;
    padding-left: 10px;
    width: 85%;
}

.flip-cards-rate
{
    display: flex;
    align-items: center;
    padding-top: 5px;
    gap: 5px;
}

.flip-cards-rate > h4
{
    font-size: 16px;
}

.price
{
    display: flex;
    align-items: center;
    gap: 2px;
}


.star
{   
    color: #FDD835;
    width: 20px;
    height: 20px;
}

.flip-cards-button
{   
    position: absolute;
    width: 94.645%;
    left: 10px;
    bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flip-cards-button > button
{   
    width: 170px;
    height: 35px;
    border-radius: 2px;
    outline: none;
    border: 2px solid #2DA851;
    /* background-color: #8F2DA8;
    background-color: #A8512D; */
    /* background-color: #2DA851; */
    /* color: #EEEEEE; */
    background-color: transparent;
    color: #4ADE80;

}

.flip-cards-button > button:hover
{
    background-color: #4ADE80;
    color: black;
    border: none;
    transition: 400ms;
}

.offers
{
    margin-top: 155px;
    text-align: center;
    color: #37B7C3;
}

.offers-container
{   
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.box
{   
    position: relative;
    width: 340px;
    height: 260px;
    border: 1px solid #F5F5F5;
    background-color: #FAFAFA;
    box-shadow: 3px 3px 4px 2px #EEEEEE;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 4px solid #4ADE80;
    border-bottom: 4px solid #088395;

    
}

.box > img
{
    width: 45%;
    height: 50%;
}

.off
{
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    padding-top: 4px;
    padding-right: 16px;
    width: 60px;
    height: 25px;
    left: 0;
    top: 65px;
    background-color: #BBF7D0;
    background-color: #CFFAFE;
    color: #1976D2;
    color: #059669;
    color: #088395;
    clip-path: polygon(0% 0%, 100% 0%, 65% 50%, 100% 100%, 0% 100%);
}


/* .box::before
{   
    content: "25%";
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    width: 50px;
    height: 25px;
    left: 0;
    background-color: #E3F2FD;
    color: #1976D2;
    clip-path: polygon(0% 0%, 100% 0%, 65% 50%, 100% 100%, 0% 100%);

} */

.products-name
{
    width: 50%;
    height: 39px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.offers-info
{
    margin-top: 12px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.prices
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.previous-price
{
    text-align: left;
    font-weight: 300;
    color: #78909C;
    text-decoration: line-through;
}

.offers-price
{
    display: flex;
    align-items: center;
    gap: 2px;
}
.offers-rate
{
    display: flex;
    align-items: center;
    gap: 1px;
}

.footer
{   
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-top: 50px;
    background-color: #EBF4F6;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit,minmax(50px,auto));
}

.footer-box
{   
    width: 200px;
    display: inline-block;
    margin-top: 30px;
    color: #0284C7;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    margin-left: 60px;
    
}

/* .footer-box
{
    background-color: red;
    display: inline-block;
    margin-top: 100px;
    margin-left: 40px;
} */



.footer-box > a
{
    text-decoration: none;
    color:  #71717A;
}

.about-us
{
    width: 150px;
    text-align: justify;
    color:  #71717A;
}

