
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{   
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: #EEEEEE; */
    background-color: #9e89ce;
}

.wrapper
{
    width: 800px;
    height: 500px;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.wrapper >img
{
    width: 500px;
    height: 500px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.wrapper-login
{
    width: 300px;
    height: inherit;
    background-color: #ffffff;
    padding-top: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.inner-wrapp
{
    width: 75%;
    margin: 0 auto;
}

.inner-wrapp > h1
{
    color: #5e5e5e;
    margin-bottom: 50px;
}

.inner-wrapp > input::placeholder
{
    font-weight: 400;
    color: #9E9E9E;
}

.inner-wrapp > input
{   
    display: block;
    margin: 20px 0;
    width: 100%;
    height: 45px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(225, 225, 225, 0.8);
    border-radius: 25px;
    padding-left: 30px;
}


.inner-wrapp::after
{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(./user.png);
    background-size: cover;
    /* background-color: red; */
    display: block;
    right: 600px;
    top: 316px;
}

.inner-wrapp::before
{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(./pass.png);
    background-size: cover;
    /* background-color: red; */
    display: block;
    right: 600px;
    top: 380px;
}

#btn_login
{   

    display: block;
    width: 100%;
    height: 30px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    border: 1px solid #5f44a6;
    margin: 0 auto;
    margin-top: 40px;
    height: 45px;
    font-size: 18px;
}

#btn_login:hover
{
    background-color: #5f44a6;
    transition: 300ms;
    color: #EEEEEE;
}

#sign
{   
    margin-top: 20px;
    text-align: center;
}

#sign > span
{
    font-size: 13px;
}

#sign > a
{
    font-size: 13px;
    text-decoration: none;
}


#message
{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 250px;
    text-align: center;
    padding-top: 8px;
    border-radius: 10px;

}





