* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #9e89ce; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('./asset/cpu.jpg');
    background-size: cover;
    background-position: center;
}

/* Flex container for image and form */
.form-image-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 425px
}

/* Style for the image */
/* .signup-image {
    width: 55%;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
} */

/* Form container */
.container {
    /* background: white; */
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 550px;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
    /* color: #333; */
    color: #fff;
}

.input-group {
    margin-bottom: 15px;
}

.last-input-group {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    /* color: #555; */
    color: #EEEEEE;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;

}

input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    /* background-color: #9e89ce; */
    
    /* background-color: #faadda; */
    background-color: #f594cc;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    /* background-color: #9500ff; */
    /* background-color: #a514b3; */
    /* background-color: #faadda; */
    background-color: #f064b6;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    display: none;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    /* color: #9500ff; */
    color: #f594cc;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 800px) {
    .form-image-container {
        align-items: center;
        padding: 0%;
    }

    .signup-image,
    .container {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    input {
        font-size: 12px;
    }

    .btn {
        font-size: 14px; 
    }
}